@{
    ViewData["Title"] = "Deliveries";
}

<div class="text-center">
    <h1 class="display-4">Deliveries</h1>
</div>

@model dynamic
<div style="overflow-x:auto;">
    <table cellpadding="13" class="table table-bordered table-hover shadow p-2">
        <thead class="btn-primary whitefont">
            <tr>
                <th class="my-auto align-middle text-light">Make</th>
                <th class="my-auto align-middle text-light">Model</th>
                <th class="my-auto align-middle text-light">VIN</th>
                <th class="my-auto align-middle text-light">License Plate</th>
                <th class="my-auto align-middle text-light">License Disk Expiry</th>
                <th class="my-auto align-middle text-light">Mileage</th>
                <th class="my-auto align-middle text-light">Next Mileage Service</th>
                <th class="my-auto align-middle text-light">Last Service</th>
                <th class="my-auto align-middle text-light">Next Date Service</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VehicleMake</td>
                    <td>@item.VehicleModel</td>
                    <td>@item.VehicleVIN</td>
                    <td>@item.VehicleLicensePlate</td>
                    <td>@item.VehicleLicenseDiskExpiry.ToString("yyyy-MM-dd")</td>
                    <td>@item.VehicleMileage</td>
                    <td>@item.VehicleNextMileageService</td>
                    <td>@item.VehicleLastService.ToString("yyyy-MM-dd")</td>
                    <td>@item.VehicleNextDateService.ToString("yyyy-MM-dd")</td>
                    <td class="my-auto align-middle" cellpadding="8">
                        @using (Html.BeginForm("QRCode", "CallCentre", FormMethod.Post))
                        {
                            <input type="hidden" id="txtQRCode" name="txtQRCode" value="@item.VehicleVIN">
                            <button class="btn btn-light" type="submit"><img src="~/images/qrcode-512.png" width="15" alt=""></button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>