@{
    ViewData["Title"] = "Manage Vehicles";
}

<div class="text-center">
    <h1 class="display-4">Manage Vehicles</h1>
    <p></p>
</div>

@using (Html.BeginForm("CaptureService", "FleetManagement", FormMethod.Post))
{
    <label for="selectV">Vehicle Id:</label>
    <input type="number" id="selectV" name="selectV" placeholder="1">
    <label for="nextService" class="input-group-text" id="inputGroup-sizing-sm">New Service</label>
    <input type="date" class="form-control" aria-label="New Service Date" aria-describedby="inputGroup-sizing-sm" name="nextService">
    <input type="submit" value="Service">
}

@using (Html.BeginForm("RenewLicenseDisk", "FleetManagement", FormMethod.Post))
{
    <label for="selectV">Vehicle Id:</label>
    <input type="number" id="selectV" name="selectV" placeholder="1">
    <label for="newExp" class="input-group-text" id="inputGroup-sizing-sm">New Expiry Date</label>
    <input type="date" class="form-control" aria-label="New Expiry Date" aria-describedby="inputGroup-sizing-sm" name="newExp">
    <input type="submit" value="Renew License Disk">
}

<table border="1" cellpadding="11">
    <tr>
        <th>ID</th>
        <th>Make</th>
        <th>Model</th>
        <th>VIN</th>
        <th>License Plate</th>
        <th>License Disk Expiry</th>
        <th>Mileage</th>
        <th>Next Mileage Service</th>
        <th>Last Service</th>
        <th>Next Date Service</th>
        <!--th>Edit</th>
        <th>Delete</th-->
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.VehicleID</td>
            <td>@item.VehicleMake</td>
            <td>@item.VehicleModel</td>
            <td>@item.VehicleVIN</td>
            <td>@item.VehicleLicensePlate</td>
            <td>@item.VehicleLicenseDiskExpiry</td>
            <td>@item.VehicleMileage</td>
            <td>@item.VehicleNextMileageService</td>
            <td>@item.VehicleLastService</td>
            <td>@item.VehicleNextDateService</td>
            <td>
                @using (Html.BeginForm("Edit", "FleetManagement", FormMethod.Post))
                {
                    <input type="hidden" id="selectV" name="selectV" value="@item.VehicleID">
                    <button type="submit">Edit</button>
                }
            </td>
            <td>
                @using (Html.BeginForm("Delete", "FleetManagement", FormMethod.Post))
                {
                    <input type="hidden" id="selectV" name="selectV" value="@item.VehicleID">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete Vehicle : @item.VehicleID @item.VehicleMake @item.VehicleModel')">Delete</button>
                }
            </td>
        </tr>
        }
    </tbody>
</table>


