@{ ViewData["Title"] = "Drivers"; }
<body class="splash">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="text-center">
            <h1 class="display-4">Drivers</h1>
        </div>

        <table class="fulltable">
            <tr>
                <td>
                    <h2>Current Drivers:</h2>
                </td>
                <td>
                    @Html.ActionLink("Register Driver", "EmployeeReg", null, null, new { @class = "btn blue greenblue fullinput" })
                </td>
            </tr>
        </table>
        <br>

        <div style="overflow-x:auto;">
            <table cellpadding="13" class="table table-hover shadow p-2 rounded active table-striped roundedtable">
                <thead class="blue whitefont">
                    <tr>
                        <th class="my-auto align-middle text-light">Name</th>
                        <th class="my-auto align-middle text-light">Surname</th>
                        <th class="my-auto align-middle text-light">Rating</th>
                        <th class="my-auto align-middle text-light">Cellphone</th>
                        <th class="my-auto align-middle text-light">Location</th>
                        <th class="my-auto align-middle text-light"> View Location</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.DriverName</td>
                        <td>@item.DriverSurname</td>
                        <td>
                            @if (@item.DriverRating != 0)
                            {
                                @item.DriverRating

                            }
                            else
                            {
                                <p>Driver has not been rated yet</p>
                            }
                        </td>
                        <td>@item.DriverCellphone</td>
                        <td>
                            @if (@item.DriverLocation != null)
                            {
                                @item.DriverLocation

                            }
                            else
                            {
                                <p>Driver location not logged</p>
                            }
                        </td>
                            <td class="my-auto align-middle" cellpadding="8">
                                @if (@item.DriverLocation != null)
                                {
                                    @using (Html.BeginForm("DriverLocation", "Driver", FormMethod.Post))
                                    {
                                        <input type="hidden" id="driverID" name="driverID" value="@item.DriverID">
                                        <button class="btn btn-light" type="submit"><img src="~/images/map-pin.svg" width="15" alt=""></button>
                                    }
                                }
                                else
                                {
                                    <p>Driver location not logged</p>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>