@{
    ViewData["Title"] = "Logged Calls";
}
<body class="splash">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="text-center">
            <h1 class="display-4">Log Calls</h1>
        </div>

        <table class="fulltable">
            <tr>
                <td>
                    <h2>Logged Calls:</h2>
                </td>
                <td>
                    @Html.ActionLink("Log A Call", "LogCall", null, null, new { @class = "btn blue greenblue fullinput" })
                </td>
            </tr>
        </table>




        <br>

        <div style="overflow-x:auto;">
            <table cellpadding="13" class="table table-hover shadow p-2 rounded active table-striped roundedtable">
                <thead class="blue whitefont">
                    <tr>
                        <th class="my-auto align-middle text-light">Date and Time</th>
                        <th class="my-auto align-middle text-light">Reason</th>
                        <th class="my-auto align-middle text-light">Cellphone</th>
                        <th class="my-auto align-middle text-light">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CallDateTime</td>
                            <td>@item.CallReason</td>
                            <td>@item.CallCellphone</td>
                            <td>@item.CallNotes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>